@keyframes window-popup {
    from { transform:translateY(100%); }
    to   { transform:translateY(0%); }
}
@keyframes window-popdown {
    from { transform:translateY(0%); }
    to   { transform:translateY(100%); }
}

@keyframes window-popin {
    from { transform:translateX(100%); }
    to   { transform:translateX(0%); }
}
@keyframes window-popout {
    from { transform:translateX(0%); }
    to   { transform:translateX(100%); }
}

@keyframes window-backin {
    from { -webkit-transform:translateX(-50%); transform:translateX(-50%); box-shadow:0 0px  0px rgba(0,0,0,0); }
    to   { -webkit-transform:translateX(0%);   transform:translateX(0%);   box-shadow:0 32px 64px rgba(0,0,0,0.2); }
}
@keyframes window-backout {
    from { -webkit-transform:translateX(0%);   transform:translateX(0%);   box-shadow:0 32px 64px rgba(0,0,0,0.2); }
    to   { -webkit-transform:translateX(100%); transform:translateX(100%); box-shadow:0 0px  0px rgba(0,0,0,0); }
}

@keyframes window-backin-item {
    from { opacity:0.5; }
    to   { opacity:1;   }
}
@keyframes window-backout-item {
    from { opacity:1;  }
    to   { opacity:1; }
}