:root {
    --gs-back-offset-w:16px;
    --gs-back-offset-h:100%;

    --content-padding:12px;
    --transition-speed:0.4s;
    --transition-ease:ease;
    --back-position:-50%;
}

body,html {
    overflow:hidden;
    -webkit-overflow-scrolling: auto;
}

.hide {
    visibility:hidden !important;
}

.window {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    box-shadow:0 32px 64px rgba(0,0,0,0.2);
}
/* .window:nth-last-of-type(1):not(.recent){
    animation:window-popin var(--transition-speed) var(--transition-ease);
}
.window:nth-last-of-type(1):not(.recent) .data-navigating-animation{
    animation:window-backin-item var(--transition-speed) var(--transition-ease);
} */

.window:not(.no-fill) .fill {
    position:fixed;
    top:-9999%; left:-9999%; right:-9999%; bottom:-9999%;
    background:black;
    opacity:0;
}
.window:not(.dragging){
    transition:all var(--transition-speed) var(--transition-ease);
}
.window:not(.dragging) .data-navigating-animation {
    transition:all var(--transition-speed) var(--transition-ease);
}

.window .gesture-area > * {
    position:absolute;
    z-index:10;
}
.window .gesture-area .gesture-area-back {
    top:50%;
    left:0;
    width:var(--gs-back-offset-w);
    height:var(--gs-back-offset-h);
    transform:translateY(-50%);

    /* background:red; */
}

.window .window-view {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#fff;

    overflow:hidden;
}

.window.stack .window-view {
    max-height:calc(100% - 36px);
    top:auto;
    bottom:0;

    border-radius:12px;
}
.window.stack .gesture-area .gesture-area-back {
    /* top:24px;
    width:100%;
    height:var(--gs-back-offset-w);
    transform:none; */
    display:none;
}

.window-view .window-scroll-area {
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}

.window-view header {
    width:100%;
    height:60px;
    background:rgba(255,255,255,0.8);
    position:fixed;
    z-index:9;

    -webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px);
}

.window-view header .title {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.window-view header .fn .fn-area {
    position:absolute;
    top:50%;
    transform:translateY(-50%);

    width:60px;
    height:60px;
    /* background:green; */

    display:flex;
    justify-content:center;
    align-items:center;
}
.window-view header .fn .fn-left {
    left:0;
}
.window-view header .fn .fn-right {
    right:0;
}

.window-view main {
    position:relative;
    /* top:0;
    left:0; */
    padding-top:60px;
    z-index:2;
    -webkit-overflow-scrolling:touch;
}
.window-view main.fit {
    padding-top:0;
}

.window-view .content-wrap {
    padding:0 var(--content-padding);
}